body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

.map-container {
    margin: auto;
    height: 400px;
    width: 20%; /* Adjust according to iframe width */
    border-radius: 15px; /* Rounded corners */
    overflow: hidden; /* Ensure content does not overflow the rounded corners */
}

iframe {
    width: 100%;
    height: 300px; /* Match the height of the iframe */
    border: 0;
}
